body{
font-family: 'PT Sans', sans-serif;
background-color: #FBE4FF;
margin: 0 auto;
}

#fixed-div{
	position: fixed;
	bottom: 100px;
	right: 10px;
}
a:link{
	text-decoration: none;
}
.header{
	height: 65px;
	background-color:#243B93;
	width: 1500px;
	margin: 0 auto;
}
.logo{
	background-image: url("../img/img\ лого.png");
	box-sizing: border-box;
    display: block;
    height: 65px;
    width: 254px;
    background-position: 112px 7px;
    background-repeat: no-repeat;
}
.main{
	display: block;
    margin: -41px 346px;
    color: #fff;
	 
}
.we{
	display: block;
	margin: 20.5px 508px;
	color:#fff;
	
}
.reserv{
	color:#fff;
	display: block;
	margin: -42px 673px;
}
.contact{
	color: #fff;
	display: block;
	margin: 22px 892px;
}
.kabinet{
	color: #fff;
	display: block;
	margin: -53px 1078px;
}
.globe{
	display: block;
	margin: 6px 1284px;
}
.UA{
	color: #fff;
	display: block;
	font-size: 28px;
	font-weight: 700;
	margin: -55px 1358px;
}
.title{
	
	box-sizing: border-box;
	background-color: #BFF0FF;
	height: 85px;
	width: 1500px;
	margin: 0 auto;
	font-size: 48px;
	font-style: italic;
	font-weight: 400;
	padding-left: 110px;
}
.menu{
	background-color: #fff;
	height: 56px;
	width: 1300px;
	display: block;
    margin: 0 auto;
	 text-align: center;
	 font-size: 28px;
}
.card{
	background-image: url("../img/картка.png");
	display: block;
	height: 300px;
	width: 1300px;
	margin: 0 auto;
}

.card_1name{
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	display: block;
	margin: 0px 510px;
	
}
.line{
	background-image: url("../img/підкреслення.png");
	height: 3px;
	width: 735px;
	margin: 10px 511px;
   display: block;
}
.discription{
	background-image: url("../img/фон.png");
	display: block;
	width: 735px;
	height: 205px;
	margin: 10px 511px;
	font-size: 22px;
	font-weight: 400;
}
.disc_text{
	width: 600px;
	height: 113px;
	border: 0px solid #fff;
}
.card_foto{
	position: relative;
    bottom: 255px;
    left: 39px;
	display: inline-block;
	width: 445px;
	height: 245px;
}
.star_card{
	background-image: url(../img/star.svg);
    left: 1248px;
    width: 48px;
    height: 46px;
    position: relative;
    bottom: 539px;
}
.star_card:hover{
	background-image: url("../img/staryellow.svg");
}

.button{
	background-image: url("../img/фон\ клавіші.png");
	width: 210px;
	height: 46px;
	position: relative;
	top: -344px;
   left: 1137px;
	display: block;
	text-align: center;
	padding: 5px 3px;
	background-repeat: no-repeat;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}
.button:hover{
	background-image: url("../img/фон\ клавіші\ red.png");
}
.card_2name{
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	display: block;
	margin: 0px 510px;	
}
.line_card_2{
	background-image: url("../img/підкреслення.png");
	height: 3px;
	width: 735px;
	margin: 10px 511px;
   display: block;
}
.discription_card_2{
	background-image: url("../img/фон.png");
	display: block;
	width: 735px;
	height: 205px;
	margin: 10px 511px;
	font-size: 22px;
	font-weight: 400;
}
.disc_text_card2{
	width: 600px;
	height: 113px;
	border: 0px solid #fff;	
}
.card_2_foto{
	position: relative;
    bottom: 255px;
    left: 39px;
	display: inline-block;
	width: 445px;
	height: 245px;
}
.button_card2{
	background-image: url("../img/фон\ клавіші.png");
	width: 210px;
	height: 46px;
	position: relative;
	top: -344px;
   left: 1137px;
	display: block;
	text-align: center;
	padding: 5px 3px;
	background-repeat: no-repeat;
	font-size: 24px;
	font-weight: 400;
	color: #fff;	
}
.button_card2:hover{
	background-image: url("../img/фон\ клавіші\ red.png");
}
.card_3name{
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	display: block;
	margin: 0px 430px;
    padding-left: 80px;		
}
.line_card_3{
	background-image: url("../img/підкреслення.png");
	height: 3px;
	width: 735px;
	margin: 10px 511px;
   display: block;	
}
.discription_card_3{
	background-image: url("../img/фон.png");
	display: block;
	width: 735px;
	height: 205px;
	margin: 10px 511px;
	font-size: 22px;
	font-weight: 400;	
}
.disc_text_card3{
	width: 600px;
	height: 113px;
	border: 0px solid #fff;	
}
.card_3_foto{
	position: relative;
	bottom: 255px;
	left: 39px;
  display: inline-block;
  width: 445px;
  height: 245px;
}
.button_card3{
	background-image: url("../img/фон\ клавіші.png");
	width: 210px;
	height: 46px;
	position: relative;
	top: -344px;
   left: 1137px;
	display: block;
	text-align: center;
	padding: 5px 3px;
	background-repeat: no-repeat;
	font-size: 24px;
	font-weight: 400;
	color: #fff;	
}
.button_card3:hover{
	background-image: url("../img/фон\ клавіші\ red.png");
}
.card_4name{
	font-size: 36px;
	font-style: italic;
	font-weight: 700;
	display: block;
	margin: 0px 430px;
    padding-left: 80px;	
}
.line_card_4{
	background-image: url("../img/підкреслення.png");
	height: 3px;
	width: 735px;
	margin: 10px 511px;
   display: block;	
}
.discription_card_4{
	background-image: url("../img/фон.png");
	display: block;
	width: 735px;
	height: 205px;
	margin: 10px 511px;
	font-size: 22px;
	font-weight: 400;	
}
.disc_text_card4{
	width: 600px;
	height: 113px;
	border: 0px solid #fff;	
}
.card_4_foto{
	position: relative;
	bottom: 255px;
	left: 39px;
  display: inline-block;
  width: 445px;
  height: 245px;
}

.button_card4{
	background-image: url("../img/фон\ клавіші.png");
	width: 210px;
	height: 46px;
	position: relative;
	top: -344px;
   left: 1137px;
	display: block;
	text-align: center;
	padding: 5px 3px;
	background-repeat: no-repeat;
	font-size: 24px;
	font-weight: 400;
	color: #fff;	
}
.button_card4:hover{
	background-image: url("../img/фон\ клавіші\ red.png");
}